.vs/
bin/
lang/
logs/
managed/
obj/
reports/
temp/
tools/
modules/ImageDatabase/
modules/DRM/
data/Kits/player_data.json
data/oxide.users.data
data/vendordata_cf.db
data/vendordata_umod.db
data/Kits/player_data.json
data/clan_data.json